<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HitCounterManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <HitCounterManager.My.MySettings>
            <setting name="ShortcutResetEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutResetKeyCode" serializeAs="String">
                <value>65653</value>
            </setting>
            <setting name="ShortcutHitEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutHitKeyCode" serializeAs="String">
                <value>65654</value>
            </setting>
            <setting name="ShortcutSplitEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutSplitKeyCode" serializeAs="String">
                <value>65655</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>559</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>694</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Inputfile" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfilesSelected" serializeAs="String">
                <value>Dark Souls III 0 Hit All Bosses Vanilla</value>
            </setting>
            <setting name="ProfilesString" serializeAs="String">
                <value>Dark Souls III 0 Hit All Bosses Vanilla|
Gundyr;0;0;0;
Vordt;1;-1;2;
AbyssWatchers;0;0;0;
Wolnir;0;0;0;
Dancer;4;0;4;
Crystal Sage;0;0;0;
Deacons;0;-2;2;
Yhorm;0;0;0;
Pontiff;0;0;0;
Aldrich;5;2;3;
Dragonslayer;0;0;0;
Princess;0;0;0;
Soul of Cinder;0;-5;5;
Greatwood;0;0;0;
Old Deamon King;0;-1;1;
Ocelot;4;4;0;
Champion Gundyr;0;0;0;
Wyvern;5;5;0;
Nameless King;0;0;0;
</value>
            </setting>
            <setting name="HotKeyMethod" serializeAs="String">
                <value>1</value>
            </setting>
        </HitCounterManager.My.MySettings>
    </userSettings>
</configuration>
