<!DOCTYPE html>
<html>
<head>
 <title>HitCounterData</title>
</head>
<body>
<script language="javascript">
var data =
/* HITCOUNTER_JSON_START */
{
"list": [
// list columns: Name, Hits(combined), PB, Hits(Way), RunIndex, Duration, DurationPB, DurationGold
/* Test strings for different languages..
["GER Übergrößenträger", 0, 0, 0, 1, 0, 0, 0],
["RUS Чики Брики", 0, 0, 0, 1, 0, 0, 0],
["CHI 谢谢", 0, 0, 0, 1, 0, 0, 0],
["JPN ありがとう", 0, 0, 0, 1, 0, 0, 0],
*/
["Gundyr", 0, 0, 0, 1, 2, 2, 2],
["Vordt", 0, 0, 0, 1, 22, 20, 20],
["Abyss&nbsp;Watchers", 1, 0, 1, 1, 222, 222, 222],
["Wolnir", 0, 0, 0, 1, 2220, 2222, 2222],
["Dancer", 0, 1, 0, 1, 22220, 22222, 22222],
["Crystal&nbsp;Sage", 2, 2, 1, 1, 222222, 222222, 222222],
["Deacons", 0, 2, 0, 1, 2222222, 2222222, 2222222],
["Yhorm", 4, 4, 0, 1, 100000, 81234, 81234],
["Pontiff", 0, 0, 0, 1, 81234, 100000, 100000],
["Aldrich", 5, 3, 0, 1, 81234, 100000, 100000],
["Dragonslayer", 5, 0, 2, 1, 555555, 555555, 0],
["Princess", 0, 0, 0, 1, 30000, 15000, 5000],
["Soul&nbsp;of&nbsp;Cinder", 0, 5, 0, 1, 15000, 30000, 0],
["Greatwood", 0, 0, 0, 1, 555555, 555555, 555554],
["Old&nbsp;Deamon&nbsp;King", 0, 1, 0, 1, 555555, 555555, 555556],
["Ocelot", 4, 0, 0, 1, 555555, 555555, 555555],
["Champion&nbsp;Gundyr", 0, 0, 0, 1, 555555, 555555, 555555],
["Wyvern", 5, 0, 0, 1, 100000, 86234, 86234],
["Nameless&nbsp;King", 1, 0, 1, 1, 555555, 555555, 555555],
["Sister&nbsp;Friede", 0, 0, 0, 1, 555555, 0, 0],
["Gravetenders", 0, 1, 0, 1, 555555, 0, 0],
["Demon&nbsp;Prince", 0, 0, 0, 1, 0, 555555, 0],
["Darkeater&nbsp;Midir", 0, 0, 0, 1, 0, 555555, 0],
["Halflight", 0, 1, 0, 1, 0, 0, 0],
["Gael", 0, 0, 0, 1, 0, 0, 0]
],
"session_progress": 20,
"run_active": 1,
"split_active": 18,
"split_first": 0,
"split_last": 999,
"attempts": 42,
"show_attempts": true,
"show_headline": true,
"show_footer": true,
"show_session_progress": true,
"show_progress_bar": true,
"show_hits": true,
"show_hitscombined": true,
"show_numbers": true,
"show_pb": true,
"show_pb_totals": true,
"show_diff": true,
"show_time": true,
"show_time_pb": true,
"show_time_diff": true,
"show_time_footer": false,
"purpose": 0,                // 0 = SplitCounter, 1 = DeathCounter, 2 = Checklist, 3 = NoDeath, 4 = ResetCounter
"severity": 0,               // 0 = AnyHitsCritical, 1 = BossHitCritical, 2 = ComparePB
"font_name": undefined,      // "Courier",
"font_url": "",              // "https://fonts.googleapis.com/css?family=Fontdiner%20Swanky",
"css_url": "stylesheet.css", // "stylesheet_pink.css",
"high_contrast": false,
"high_contrast_names": false,
"use_roman": false,
"highlight_active_split": false,
"progress_bar_colored": true,
"height": 0,
"width": 0,
"tblalign": "tblcenter", // or "tblleft" or "tblright" or any custom value
"supPB": false, // false = normal, true = subscripted (supPB name will be fixed with version 2.x but is kept for compatibility)
"update_time": 1598986122000,
"timer_paused": false,
}
/* HITCOUNTER_JSON_END */
;
parent.DoUpdate(data);
</script>
This is just a data file, please use an HTML file from the <b>Designs</b> folder!<br>
Example: <i>&ltHitCounterManager-InstallationDir&gt</i>/Designs/HitCounterGui.html
</body>
</html>
