<!DOCTYPE html>
<html>
<head>
 <title>HitCounterData</title>
</head>
<body>
<script language="javascript">
var data =
/* HITCOUNTER_JSON_START */
{
"profile_name": "Dark Souls 3 The Ringed City (All Bosses) [EN] EXAMPLE",
"list": [
// list columns: Name, Hits(combined), PB, Hits(Way), RunIndex, Duration, DurationPB, DurationGold, Subsplit
/* Test strings for different languages..
["GER Übergrößenträger", 0, 0, 0, 1, 0, 0, 0, false],
["RUS Чики Брики", 0, 0, 0, 1, 0, 0, 0, false],
["CHI 谢谢", 0, 0, 0, 1, 0, 0, 0, false],
["JPN ありがとう", 0, 0, 0, 1, 0, 0, 0, false],
*/
["Gundyr", 0, 0, 0, 1, 2220, 2220, 2220, false],
["Vordt", 0, 0, 0, 1, 4440, 2220, 2220, false],
["Abyss Watchers", 1, 0, 1, 1, 1110, 2220, 1000, false],
["Wolnir", 0, 0, 0, 1, 1110, 2222, 1000, false],
["Dancer", 0, 1, 0, 1, 22220, 22222, 22000, false],
["Crystal Sage", 2, 2, 1, 1, 222222, 333333, 220000, false],
["Deacons", 0, 2, 0, 1, 2222222, 4444444, 2222222, false],
["Yhorm", 4, 4, 0, 1, 100000, 81234, 81234, false],
["Pontiff", 0, 0, 0, 1, 81234, 0, 80000, false],
["Aldrich", 5, 3, 0, 1, 81234, 100000, 80000, false],
["Dragonslayer", 5, 0, 2, 1, 555555, 0, 0, false],
["Princess", 0, 0, 0, 1, 30000, 15000, 10000, false],
["Soul of Cinder", 0, 5, 0, 1, 15000, 30000, 0, false],
["Greatwood", 0, 0, 0, 1, 555555, 555555, 550000, false],
["Old Deamon King", 0, 1, 0, 1, 555555, 0, 555555, false],
["Ocelot", 4, 0, 0, 1, 1555555, 555555, 550000, false],
["Champion Gundyr", 0, 0, 0, 1, 999999, 555555, 400000, false],
["Wyvern", 5, 0, 0, 1, 82222, 86234, 80000, false],
["Nameless King", 1, 0, 1, 1, 240000, 555555, 555555, false],
["Sister Friede", 0, 0, 0, 1, 0, 555555, 555555, false],
["Gravetenders", 0, 1, 0, 1, 555555, 0, 0, false],
["Demon Prince", 0, 0, 0, 1, 4444, 4444, 4444, false],
["Darkeater Midir", 0, 0, 0, 1, 0, 0, 0, false],
["Halflight", 0, 1, 0, 1, 0, 0, 0, false],
["Gael", 0, 0, 0, 1, 0, 0, 0, false]
],
"session_progress": 20,
"best_progress": 5,
"run_active": 1,
"split_active": 18,
"split_first": 0,
"split_last": 24,
"attempts": 42,
"show_attempts": true,
"show_headline": true,
"show_footer": true,
"show_session_progress": true,
"show_progress_bar": true,
"show_hits": true,
"show_hitscombined": true,
"show_numbers": true,
"show_pb": true,
"show_pb_totals": true,
"show_diff": true,
"show_time": true,
"show_time_diff": false,
"show_time_pb": false,
"show_time_footer": false,
"show_duration": false,
"show_duration_diff": false,
"show_duration_pb": false,
"show_duration_gold": false,
"purpose": 0,                // 0 = SplitCounter, 1 = DeathCounter, 2 = Checklist, 3 = NoDeath, 4 = ResetCounter
"severity": 0,               // 0 = AnyHitsCritical, 1 = BossHitCritical, 2 = ComparePB
"font_name": undefined,      // "Courier",
"font_url": "",              // "https://fonts.googleapis.com/css?family=Fontdiner%20Swanky",
"css_url": "stylesheet.css", // "stylesheet_pink.css",
"high_contrast": false,
"high_contrast_names": false,
"use_roman": false,
"highlight_active_split": false,
"progress_bar_colored": true,
"height": 0,
"width": 0,
"tblalign": "tblcenter", // or "tblleft" or "tblright" or any custom value
"subPB": false,
"update_time": 1745084697138,
"timer_paused": true,
}
/* HITCOUNTER_JSON_END */
;
parent.DoUpdate(data);
</script>
This is just a data file, please use an HTML file from the <b>Designs</b> folder!<br>
Example: <i>&ltHitCounterManager-InstallationDir&gt</i>/Designs/HitCounterGui.html
</body>
</html>
