Datafiles/HitCounter.template       diff      text eol=CRLF
Datafiles/HitCounterManagerInit.xml diff      text eol=CRLF
*.html                              diff=html text eol=CRLF
*.css                               diff=css  text eol=CRLF
*.js                                diff      text eol=CRLF
